<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cloud</title>
    <link rel="stylesheet" href="/static/css/content.css">
</head>
<body >
<div>
    <div style="float:left;">
        <form action="/get_cloud/" method="post" style="margin: auto 0;">
            请输入asin:
            <input type="text" id="search-text" name="q"><!--<button type="button" id="'search-button">搜索</button>-->
            <p><span id="search-result" style="background-color: aliceblue; border: red"></span></p>
        </form>
    </div>
    <div style="float:left;">选择尺码<select id="size" DISABLED><option value="all">  选择全部 </option></select></div>
    <div style="float:left;">选择颜色<select id="color" DISABLED><option value="all">  选择全部 </option></select></div>
    <div style="float:left;">选择星级<select id="star" DISABLED><option value="all">  选择全部 </option></select></div>
    <div><button type="button" id="search-button">搜索</button> </div>
</div>
<div id="content">
    <ul>
        <li>
            <!--
            <a href="/static/image/background.jpg" target="_blank"><img src="/static/image/background.jpg"></a>
            <div class="tit"><p>dress</p></div>
            -->
        </li>
    </ul>
</div>
<!--<script src="/static/js/jquery-3.3.1.min.js"></script>-->
<script src="/static/js/jquery-3.3.1.js"></script>
<script>
    // 首先输入寻找asin
    // 然后出现不同的color， size 和 color 进行选择
    // 也可以直接进行提交 如果没有选择星级 则是会给出两张云图 五星和一星的
    $(document).ready(function () {
        $("#search-text").keyup(function () {
            var q = $("#search-text").val();
            $.post('/get_cloud/', {'q':q}, function (data) {
                if (data[0] != 'real'){
                    for(var i = data.length-1; i >= 1; i--){
                        if (data[i] != '0'){
                            $("#search-result").append(data[i] + '<br/>')}
                    }
                }else {
                    $("#color").html(data[1] + '<option value="all">  选择全部 </option>').removeAttr('disabled');
                    $("#size").html(data[2] + '<option value="all">  选择全部 </option>').removeAttr('disabled');
                    $("#star").html(data[3] + '<option value="all">  选择全部 </option>').removeAttr('disabled');
                }
            });
        });

        $("#search-button").click(function () {
           var asin = $("#search-text").val();
           var size = $("#size").val() ;
           var color = $("#color").val();
           var star = $("#star").val();
           $.post('/make_image/', {'asin': asin , 'size': size , 'color': color, 'star': star},function (data) {
                var $li = '        <li>\n' +
                    '            <a href="/static/image/'+ data +'" target="_blank" ><img src="/static/image/'+data+'"></a>\n' +
                    '            <div class="tit" style="bottom: -50px;"><p>dress</p></div>\n' +
                    '        </li>';
               $('ul').append($li);
           })
        });

       $('#search-text').keydown(function () {
            $("#search-result").empty();
        });
        /*
        $("#search-text").blur(function () {
            $("#search-result").empty();
        });*/
        $("#content ul li ").hover(function () {
            $(this).find("div").stop().animate({
                "bottom":"0px"
            }, 1000);
        }, function () {
            $(this).find("div").stop().animate({
                "bottom":"-50px"
            }, 1000);
        });
    });

        $("#content ul ").on('hover', 'li', function () {
            $(this).find("div").stop().animate({
                "bottom":"0px"
            }, 1000);
        }, function () {
            $(this).find("div").stop().animate({
                "bottom":"-50px"
            }, 1000);
        });


</script>
</body>
</html>