<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1 style="background-color: antiquewhite;color: black;">截图</h1>
    <form action="/index/" method="post" enctype="multipart/form-data">
        <input type="file" name="excel" id="name"/>
        <input type="submit" value="提交"/>
    </form>
    <br>
    <h1 style="background-color: antiquewhite;color: black;">excel转换</h1>
    <form action="/tranexcel/" method="post" enctype="multipart/form-data">
        <input type="file" name="excel" id="excel"/>
        <input type="submit" value="提交">
    </form>
    <h1 style="background-color: antiquewhite;color: black;">云图</h1>
    <a href="/get_cloud/">点击前往</a>
    <script src="/static/js/jquery-3.3.1.js"></script>
</body>
</html>